/* General */
* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: rgb(243, 242, 242);
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.btn-primary {
    background-color: #F29D52;
    border: none;
    padding: 5px;
}

.btn-primary:hover {
    background-color: #B57D38;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.msg {
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #e6c3c3;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* Navigation */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
    width: 100%;
}

#post-search-container{
    float: right;
    padding-top: 7px;
}

#logo {
    display: inline;
}

#navbar a {
    color: #1CA1D9;
    padding: .5rem;
}

#navbar a:hover {
    color: #F29D52;
}

/* menu mobile */
#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    .navbar-nav {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #fff;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .navbar-nav {
        display: block;
        height: calc(40vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .navbar-nav a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #f29d5256;
    }
    #btn-mobile {
        display: flex;
        margin-right: 20px;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
    }
    #hamburger {
        color:#1CA1D9;
        display: block;
        width: 20px;
        border-top: 2px solid;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburger {
        color: #F29D52;
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* post create */
#post-create-container {
    margin: 20px auto;
}

#content {
    height: 150px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.185);
}

.label-img {
    color: #fff;
    background-color: #F29D52;
    margin-top: 0px;
    padding: 5.5px;
    border-radius: 3px;
    cursor: pointer;
}

#post-create-container label:hover {
    background-color: #B57D38;
}

#image {
    display: none;
}

.preview-img {
    max-width: 150px;
    margin: 5px;
}

/* posts list */
#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-post {
    background-color:#fff;
    border: solid 1px rgba(0, 0, 0, 0.185);
    border-radius: 15px;
    padding: 0;
    margin: 5px;
    max-width: 600px;
}

#cards-container p {
    margin: 15px;
}

.user-name {
    font-weight: bold;
}

#cards-container .post-likes {
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.post-likes ion-icon {
    color: #1CA1D9;
    font-size: 25px;
    transform: scaleX(-1);
    margin-left: 5px;
    cursor: pointer;
}

#btn-like {
    background-color: #fff;
    border: none;
}

#btn-like.active ion-icon {
    color: #F29D52;
    transition: .3s;
}

#img-post {
    max-width: 100%;
    cursor: pointer;
}

.card-date {
    font-size: 14px;
    color: rgb(116, 116, 116);
}

/* Profile */
.title-profile {
    text-align: center;
    margin: 0;
    padding: 15px;
}

.link-to-home-profile {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: #1CA1D9;
}

.link-to-home-profile:hover {
    color: #F29D52;
}

.btn-actions-profile {
    float: right;
    margin: 15px;
}

.user-name-profile {
    display: inline-block;
    font-weight: bold;
}

#cards-container form {
    display: inline-block;
}

/* Modal */
#myModal .modal-img {
    width: 100%;
}

#myModal .modal-footer {
    justify-content: start;
}

.img-preview {
    width: 100px;
    padding: 10px;
}


/* footer */
footer {
    text-align: center;
    background-color: #0c4258;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}